* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f5f5;
    max-width: 100%;
    max-height: 100%;
}

#player1, #player2, #playerjump, #playershocked, #playersneak1, #playersneak2, #background, #gameover, #cactus1, #cactus2, #cactus3, #cactus4, #cactus5, #cactus6, #cactus7, #cactus8, #dino1, #dino2, #dinoshocked, #bird1, #bird2, #birdshocked{
    display: none;
}